@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Notice";
}

<div class="terms_main_div">
   @await Html.PartialAsync("_TopNavBar", @Model)
    <br>
    <div class="big_bold_font">Privacy Notice</div>
    <br>
    <div class="terms_content">
        <p>
            We respect your privacy and are committed to protecting it through our policies and practices. This Privacy
            Policy applies to any personal information we collect from you, or that you provide to us, when you interact
            with us in connection with our research and art projects.

            <br><br>

            <b>Collection of Information</b><br><br>

            We may collect the following types of personal information:<br>
            - Email address

            <br><br>

            This information is collected directly from you through our platform or website. We do not use cookies or
            other tracking technologies to collect information about your online activities.

            <br><br>

            <b>Use of Information</b><br><br>

            The information we collect is used exclusively for research and art purposes, and it will not be tagged back
            to the individual. We do not share this information with any third parties.

            <br><br>

            <b>Security Measures</b><br><br>

            We implement appropriate technical and organizational measures to protect personal information against
            unauthorized access, disclosure, alteration, or destruction. These measures include:
            <br>
            -- Limiting access to personal information only to those who have a legitimate need for it as part of the
            Eva
            project
            <br>
            -- Ensuring that our databases and systems are secure and protected from unauthorized access

            <br><br>

            <b>Retention of Information</b><br><br>

            We will retain your personal information for as long as necessary to fulfill the purposes described in this
            Privacy Policy, unless a longer retention period is required by law.

            <br><br>

            <b>Access and Correction</b><br><br>

            You have the right to request access to or correction of your personal information that we hold. Please
            contact us at hello@meetevahere.com to exercise these rights.

            <br><br>

            <b>Changes to This Privacy Policy</b><br><br>

            We reserve the right to amend this Privacy Policy from time to time. If we make any significant changes to
            this policy, we will notify you through a prominent notice on our platform or associated social media
            accounts.

            <br><br>

            <b>Contact us</b><br><br>

            If you have any questions about these terms, you can reach us at <a class="email_link"
                href="mailto:hello@meetevahere.com">hello@meetevahere.com</a>
        </p>
        <br><br>
    </div>
</div>
