@page
@model TermsModel
@{
    ViewData["Title"] = "Terms of Service";
}

<div class="terms_main_div">
    @await Html.PartialAsync("_TopNavBar", @Model)
    <br>
    <div class="big_bold_font">Terms of Service</div>
    <br>
    <div class="terms_content">
        <p>
            <b>Acceptance of Terms</b><br><br>

            By accessing and using EVA ("the Service"), operated by Shavonne Wong (”the Operator”), you are agreeing to
            be bound by these Terms of Service. If you do not agree to these terms, please do not use the Service.

            <br><br>

            <b>Use of the Service</b><br><br>

            You agree to use the Service only for purposes permitted by these Terms of Service and any applicable laws,
            regulations, or generally accepted practices in the relevant jurisdictions as determined by Operator.
            Operator reserves the right to refuse service to anyone for any reason at any time.

            <br><br>

            <b>User Content</b><br><br>


            As an independent artist and art project, we respect and protect your privacy. You retain full ownership of
            any intellectual property rights that you hold in the content that you create or own ("User Content"). When
            you upload or submit content to our Services, you give EVA permission to store and make use of this for
            further artist purposes as part of EVA. We will not use, host, reproduce, modify, create derivative works,
            communicate, publish, publicly perform, publicly display, or distribute your User Content for any other
            purposes except for in relation to EVA, this project and associated projects initiated by Operator.

            To learn how we protect your privacy, read our Privacy Policy.

            <br><br>

            <b>Modification and Termination of Services</b><br><br>

            We are constantly innovating and changing our Services, and we may add or remove functionalities or
            features, and we may suspend or stop a Service altogether.

            <br><br>

            <b>Disclaimer</b><br><br>


            The Services are provided on an "as-is" basis without any warranties, either express or implied, including
            but not limited to warranties of merchantability, fitness for a particular purpose, or non-infringement.
            Operator, its affiliates, and third-party service providers disclaim all warranties to the fullest extent
            permitted by law.

            <br><br>

            <b>Limitation of Liability</b><br><br>

            You expressly understand and agree that Operator shall not be liable for any direct, indirect, incidental,
            special, consequential, or exemplary damages, including damages for loss of profits, goodwill, use, data or
            other intangible losses.

            <br><br>

            </b>Indemnity</b><br><br>

            You agree to indemnify and hold harmless Operator and its affiliates, officers, directors, employees,
            agents, and third-party service providers from any losses, liabilities, damages, claims, and expenses,
            including legal fees, arising out of or related to your use of the Services or any violation of these Terms.

            <br><br>

            <b>Privacy and Personal Information</b><br><br>

            For information about Operator data protection practices, please read our Privacy Policy. This policy
            explains how we treat your personal information and protect your privacy when you use our Services.

            <br><br>

            <b>Notice for California Users</b><br><br>

            Under California Civil Code Section 1789.3, users of the Service from California are entitled to the
            following consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the
            California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Suite N
            112, Sacramento, CA 95834, or by telephone at (916) 445-1254 or (916) 928-1227. Operator can be contacted at
            2219 Main St, Santa Monica, CA, USA or at XXXXXXXXXXXXX.

            <br><br>

            <b>Changes to these Terms</b><br><br>

            We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes
            to the law or changes to our Services.

            Please review these Terms of Service regularly. Your continued use of the Services after the effectiveness
            of such changes will constitute acceptance of and agreement to any such changes.

            <br><br>

            <b>Contact us</b><br><br>

            If you have any questions about these terms, you can reach us at <a class="email_link"
                href="mailto:hello@meetevahere.com">hello@meetevahere.com</a>
        </p>
        <br><br>
    </div>
</div>
