<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a5fffa5d-9457-4d3c-a7f3-7ecffd14e526/resourcegroups/Eva/providers/Microsoft.Web/sites/EvaMist</ResourceId>
    <ResourceGroup>Eva</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://evamist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7073d7da-e28f-4188-afe4-c1b9fbd60ab1</ProjectGuid>
    <PublishUrl>https://evamist.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EvaMist</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>